html{
    scroll-behavior: smooth;
}

body {
    font-family: monospace;
    font-size: 19px;
    background-image:url('back.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 20px;
    line-height: 1.4em;
}

main {
    max-width: 600px;
    padding: 20px;
    margin: auto;
    background-color: aliceblue;
}

.hidden {
    display: none;
}

.showing {
    display: block;
}

#overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#overlay article {
    box-sizing: border-box;
    background-color:#fff;
    padding: 20px;
    width: 50vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
}


footer {
    text-align: center;
    padding: 20px;
    background: rgb(23,96,179,0.1);
}