html{
    scroll-behavior: smooth;
}

body {
    display: flex;
    font-family: monospace;
    font-size: 16px;
    background-image:url('images/background.jpg');
    background-size: 100%;
    padding-top: 30px;
    line-height: 1.5em;
}

p {
    color: rgb(247, 206, 206);
}

img {
    border-radius: 6px;
    width: 80px;
    height: 80px;
    padding: 10px;
    animation: dice 0.5s infinite;
}

@keyframes dice {
    0% {
        transform: rotate(10deg);
    }
  
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

header{
    font-size: 16px;
    margin-left: 55px;
    margin-top: 55px;
    width: 520px;
}

h1 {
    color: rgb(250, 237, 237);
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: rgb(204, 101, 101);
}

button {
    cursor: pointer;
    color: #333;
    text-align: center;
    border-radius: 10px;
    padding:10px;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(184, 133, 150);
}

#quit{
    margin-left: 250px;
}

#main {
    font-size: 20px;
    width: 400px;
    margin-top: 200px;
    margin-left: 270px;
    text-align: center;
}

#actions{
    display: flex;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;  
    text-align: center;
    background-color: rgba(255, 255, 255, .5);
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: white;
}